.foot {
	padding-top: 2rem;
	padding-bottom: 1rem;
	text-align: center;
}

.dibu {
	text-align: center;
}

.qq {
	padding-right: 0.5rem;
	font-size: 0.24rem;
}

.weixin {
	
	font-size: 0.24rem;
}
.addcode{
	float:right;font-size:0.24rem;margin-right:0.5rem;
}
